<div class="p-4">
    <div class="container">
        <main style="background-color: #EBE6E0; padding: 100px;">
            <div>
                <img class="banner" [src]="announcement.announcementImage" alt="{{ announcement.announcementTitle || 'Image not available' }}">
                <div class="content">
                    <h2 class="content-title">{{ announcement.announcementTitle }}</h2>
                    <p class="content-date">{{ announcement.announcementDate | date: 'longDate' }}</p>
                    <blockquote>
                        <p class="content-description">{{ announcement.announcementDescription }}</p>
                    </blockquote>
                </div>
            </div>

            <!-- Navigation -->
            <div class="navigation d-flex justify-content-between align-items-center">
                <a *ngIf="previousAnnouncement" class="prev-post" (click)="goToAnnouncement(previousAnnouncement.announcementId)">
                    ← Previous Post
                </a>
                <span *ngIf="!previousAnnouncement"></span>
                <a *ngIf="nextAnnouncement" class="next-post" (click)="goToAnnouncement(nextAnnouncement.announcementId)">
                    Next Post →
                </a>
            </div>
        </main>
    </div>
</div>
