<div class="app-container" [ngClass]="currentRouteClass">
  <!-- main nav -->
  <nav *ngIf="showMainnav" class="navbar navbar-expand user-nav">
    <a class="navbar-brand" href="/">
      <img src="../assets/eBarangayConnect.svg" alt="eBarangayConnect" width="130" height="50">
    </a>
    <div class="navbar-nav ml-auto">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link">HOME</a>
      <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link">ABOUT US</a>
      <a routerLink="/announcement" routerLinkActive="active" class="nav-item nav-link">ANNOUNCEMENT</a>
      <a (click)="scrollToSection('services')" class="nav-item nav-link">SERVICES</a>
      <a (click)="scrollToSection('map')" class="nav-item nav-link">MAP</a>
      
      <!-- Show login or logout based on whether the user is logged in -->
      <ng-container *ngIf="!account; else loggedInLinks">
        <a routerLink="/account/login" routerLinkActive="active" class="nav-item nav-link">LOGIN</a>
      </ng-container>
      <ng-template #loggedInLinks>
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-item nav-link">DASHBOARD</a>
        <a (click)="logout()" class="nav-item nav-link">LOGOUT</a>
      </ng-template>
    </div>
  </nav>

  <!-- secondary nav -->

  <nav *ngIf="showSecondarynav" class="navbar admin-nav">
    <a class="navbar-brand sidenav-logo" href="/">
      <img src="../assets/eBarangayConnect.svg" alt="eBarangayConnect" class="img-logo" width="150" height="65">
    </a>
    <button class="navbar-toggler d-block d-md-none" type="button" (click)="toggleSidenav()" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="ml-auto d-flex align-items-center">
      <div *ngIf="showSidenav" class="notification">
        <notification></notification>
      </div>
    </div>
  </nav>
  
  <!-- Side navigation for admin -->
  <div *ngIf="showSidenav" class="sidenav" [ngClass]="{ 'collapsed': isSidenavCollapsed }">
    <div class="sidenav-header">
      <div class="user-info-wrapper d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="user-avatar-wrapper me-2">
            <img [src]="account.profilePicture" alt="{{ account.firstName }}" class="user-avatar">
          </div>
          <div class="user-info" *ngIf="!isSidenavCollapsed">
            <span class="user-name">{{ account.firstName }}</span>
            <span class="user-role">{{ account.title }}</span>
          </div>
        </div>
        <div class="dropdown">
          <a href="#" data-bs-toggle="dropdown" id="userDropdown" aria-expanded="false">
            <img src="../assets/icons/dropdown.svg" alt="caret" width="15" height="15" class="caret-icon">
          </a>

          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li>
              <a class="dropdown-item" href="/profile">Profile</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="sidenav-menu">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-item nav-link">
          <img src="../assets/icons/dashboard.svg" alt="dashboard" width="20" height="20" class="menu-icon">
          <span *ngIf="!isSidenavCollapsed">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link d-flex justify-content-between align-items-center" href="#" data-bs-toggle="collapse" data-bs-target="#residentsCollapse" aria-expanded="false" aria-controls="residentsCollapse">
          <div>
            <img src="../assets/icons/residents.svg" alt="residents" width="20" height="20" class="menu-icon">
            <span *ngIf="!isSidenavCollapsed">Residents</span>
          </div>
          <img *ngIf="!isSidenavCollapsed" src="../assets/icons/dropdown.svg" alt="caret" width="15" height="15" class="caret-icon">
        </a>
        <div class="collapse" id="residentsCollapse">
          <ul class="nav flex-column ms-3">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" href="/admin/verification">For verification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/admin/residents">Residents Record</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a routerLink="/admin/permit" routerLinkActive="active" class="nav-item nav-link">
          <img src="../assets/icons/permit.svg" alt="dashboard" width="20" height="20" class="menu-icon">
          <span *ngIf="!isSidenavCollapsed">Business Permits</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/requested" routerLinkActive="active" class="nav-item nav-link">
          <img src="../assets/icons/document.svg" alt="dashboard" width="20" height="20" class="menu-icon">
          <span *ngIf="!isSidenavCollapsed">Requested Documents</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/assistance" routerLinkActive="active" class="nav-item nav-link">
          <img src="../assets/icons/Assistance.svg" alt="dashboard" width="20" height="20" class="menu-icon">
          <span *ngIf="!isSidenavCollapsed">Barangay Assistance</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/households" routerLinkActive="active" class="nav-item nav-link">
          <img src="../assets/icons/household.svg" alt="dashboard" width="20" height="20" class="menu-icon">
          <span *ngIf="!isSidenavCollapsed">Household Record</span>
        </a>
      </li>
      <li *ngIf="checkAccountRole()">
        <a routerLink="/admin/projects" routerLinkActive="active" class="nav-item nav-link">
          <img src="../assets/icons/project.svg" alt="dashboard" width="20" height="20" class="menu-icon">
          <span *ngIf="!isSidenavCollapsed">Project Management</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/announcement" routerLinkActive="active" class="nav-item nav-link">
          <img src="../assets/icons/announcement.svg" alt="dashboard" width="20" height="20" class="menu-icon">
          <span *ngIf="!isSidenavCollapsed">Announcement</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/revenue" routerLinkActive="active" class="nav-item nav-link">
          <img src="../assets/icons/revenue.svg" alt="dashboard" width="20" height="20" class="menu-icon">
          <span *ngIf="!isSidenavCollapsed">Revenue Record</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/track-resident" routerLinkActive="active" class="nav-item nav-link">
          <img src="../assets/icons/track.svg" alt="dashboard" width="20" height="20" class="menu-icon">
          <span *ngIf="!isSidenavCollapsed">Track Resident</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link d-flex justify-content-between align-items-center" href="#" data-bs-toggle="collapse" data-bs-target="#settingsCollapse" aria-expanded="false" aria-controls="settingsCollapse">
          <div>
            <img src="../assets/icons/settings.svg" alt="settings" width="20" height="20" class="menu-icon">
            <span *ngIf="!isSidenavCollapsed">Settings</span>
          </div>
          <img *ngIf="!isSidenavCollapsed" src="../assets/icons/dropdown.svg" alt="caret" width="15" height="15" class="caret-icon">
        </a>
        <div class="collapse" id="settingsCollapse">
          <ul class="nav flex-column ms-3 sub-menu">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" href="/admin/barangay">Barangay Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" href="/admin/sitios">Sitio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" href="/admin/category">Category</a>
            </li>
            <li *ngIf="checkAccountRole()" class="nav-item">
              <a class="nav-link" routerLinkActive="active" href="/admin/services">Services</a>
            </li>
            <li *ngIf="checkAccountRole()" class="nav-item">
              <a class="nav-link" routerLinkActive="active" href="/admin/accounts">Accounts</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>  

  <!-- Main content area -->
  <div class="main-content" [ngClass]="{ 'shifted': account && account.role === 'Admin' }">
    <router-outlet>
          <!-- global alert -->
      <alert></alert>
    </router-outlet>
  </div>
</div>