<div class="display-section">
    <div class="display-header">
        <h3 class="mb-3 menu-title">Revenues</h3>
    </div>

    <div class="display-container">
        <div class="display-card-content">
            <div class="display-card-header d-flex justify-content-between align-items-center mb-3">
                <p class="mb-0">Revenue Information</p>
                <div class="button-group">
                    <button class="btn btn-dark btn-sm" (click)="exportToCSV()">Export CSV</button>
                </div>
            </div>

            <!-- Show entries and search -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex align-items-center">
                    <label for="entries" class="me-2">Show</label>
                    <select id="entries" class="form-select form-select-sm me-3" style="width: auto;" (change)="onPageSizeChange($event)">
                        <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
                    </select>
                    <span class="me-3">entries</span>
                </div>
                <div class="d-flex align-items-center">
                    <label for="minDate" class="me-3">Minimum Date:</label>
                    <input type="date" id="minDate" class="form-control form-control-sm me-5" [(ngModel)]="minDate" (change)="onDateChange()">
                    <label for="maxDate" class="me-3">Maximum Date:</label>
                    <input type="date" id="maxDate" class="form-control form-control-sm" [(ngModel)]="maxDate" (change)="onDateChange()">
                </div>
                <input type="text" class="form-control form-control-sm" placeholder="Search" [(ngModel)]="searchRequest" (input)="onSearch()" style="width: 200px;">
            </div>

            <!-- Table for services -->
            <table class="table table-striped display-table">
                <thead>
                    <tr>    
                        <th>
                            Date
                            <span class="sorting-icons">
                                <i class="bi bi-sort-up" (click)="sortBy('date', 'asc')"></i>
                                <i class="bi bi-sort-down" (click)="sortBy('date', 'desc')"></i>
                            </span>
                        </th>
                        <th>
                            Recipient
                            <span class="sorting-icons">
                                <i class="bi bi-sort-up" (click)="sortBy('requestName', 'asc')"></i>
                                <i class="bi bi-sort-down" (click)="sortBy('requestName', 'desc')"></i>
                            </span>
                        </th>
                        <th>
                            Details
                            <span class="sorting-icons">
                                <i class="bi bi-sort-up" (click)="sortBy('servicesName', 'asc')"></i>
                                <i class="bi bi-sort-down" (click)="sortBy('servicesName', 'desc')"></i>
                            </span>
                        </th>
                        <th>
                            Amount
                            <span class="sorting-icons">
                                <i class="bi bi-sort-up" (click)="sortBy('servicesName', 'asc')"></i>
                                <i class="bi bi-sort-down" (click)="sortBy('servicesName', 'desc')"></i>
                            </span>
                        </th>
                        <th>
                            Processed By
                            <span class="sorting-icons">
                                <i class="bi bi-sort-up" (click)="sortBy('accountName', 'asc')"></i>
                                <i class="bi bi-sort-down" (click)="sortBy('accountName', 'desc')"></i>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let request of displayedRequest">
                        <td>{{ request.date | date: 'longDate' }}</td>
                        <td>{{ request.requestName }}</td>
                        <td>{{ getServiceName(request.requestId) }}</td>
                        <td>{{ getServiceFee(request.requestId) }}</td>
                        <td>{{ getAccountName(request.accountId) }}</td>
                    </tr>
                </tbody>
            </table>

            <!-- Pagination -->
            <div class="d-flex justify-content-between">
                <p>Showing {{ getStartIndex() }} to {{ getEndIndex() }} of {{ totalEntries }} entries</p>
                <ul class="pagination">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
                    </li>
                    <li class="page-item" *ngFor="let page of [].constructor(getTotalPages()); let i = index" [class.active]="currentPage === i+1">
                        <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
                        <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
