<style>
    .signup-container {
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        max-width: 850px;
        display: flex;
    }
    .signup-container h2 {
        color: #444;
        margin-bottom: 20px;
    }
    .form-check-label {
        color: #444;
    }
    .form-check-label a {
        color: #444;
    }
    
    .btn-primary {
        background-color: #007bff;
        border: none;
    }
    .btn-primary:hover {
        background-color: #0056b3;
    }

    .signup-container img {
        transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
        transform: perspective(400px) rotate3d(1, -1, 0, 8deg);
    }

    .signup-container img:hover {
        transform: perspective(1000px) rotateY(15deg) rotateX(10deg);
    }
</style>

<div class="signup-container">
    <div class="col-md-7">
        <h2>Login</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="text" formControlName="email" class="form-control" placeholder="Your Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                    <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
            </div>
        </form>
        <div class="d-flex d-flex justify-content-between align-items-center mb-3 form-group">
            <a routerLink="../register" href="">Register</a>
            <a routerLink="../forgot-password" class="btn btn-link pr-0">Forgot Password?</a>
        </div>
    </div>
    <div class="col-md-5 d-flex align-items-center justify-content-center">
        <img [src]="barangay.barangayLogo" alt="Signup Illustration" class="img-fluid rounded mb-5">
    </div>
</div>